/* Footer Styles */
.footer-1 {
    float: left;
    width: 422px;
}

.footer-2 {
    float: left;
    width: 326px;
}

.footer-3 {
    float: left;
    width: 232px;
}

.footer-inside {
    padding-left: 40px;
}
