/* Logo */
.logo {
    float: left;
    margin-left: 40px;
    margin-top: -34px;
    position: relative;
    top: 34px;
}

/* Navigation */
nav {
    float: right;
    margin-right: 177px;
    padding-top: 20px;
}

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        nav ul li {
            display: inline-block;
            *display: inline; /* for IE7 */
            margin-right: 30px;
        }
