/* Header */
body > header {
    box-shadow: rgba(0, 0, 0, .25) 0 4px 8px 0;
    position: relative;
    z-index: 10;
    background-image: linear-gradient(#87053e, #560329);
}

/* Logo */
.logo {
    float: left;
    margin-left: 40px;
    margin-top: -34px;
    position: relative;
    top: 34px;
    z-index: 10;
}

/* Navigation */
nav {
    float: right;
    margin-right: 177px;
    padding-top: 20px;
}

    nav a {
        color: #fefefe;
        -webkit-transition: color .4s ease-out;
        -moz-transition: color .4s ease-out;
        -o-transition: color .4s ease-out;
        transition: color .4s ease-out;
    }

    nav a:hover {
        text-decoration: none;
        color: #cdb8a5;
    }

    nav ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

        nav ul li {
            display: inline-block;
            *display: inline; /* for IE7 */
            margin-right: 30px;
            font-size: 20px;
        }

        nav ul li:last-child {
            margin-right: 0;
        }
