/* Promo Styles */
.promo {
    position: relative;
    z-index: 5;
    padding-bottom: 8px;
    box-shadow: rgba(0, 0, 0, .25) 0 3px 2px 0;
}

.promo-desc {
    position: absolute;
    bottom: 340px;
    right: 155px;
}
