@import url("elements.css");
@import url("header.css");
@import url("promo.css");
@import url("main.css");
@import url("media.css");
@import url("footer.css");

/* Common Styles */
.center-global {
    width: 1020px;
    margin: 0 auto;
}

/* Clearing Float */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /* for IE6 and IE7 */
}
